[Unit]
Wants=mosquitto.service
Description=-dev1 [-value1] -> -dev2 [-value2]

[Service]
Type=idle
ExecStart=/bin/bash /usr/bin/multiswitchsvc -dev1 -dev2 -value1 -value2
Restart=always

[Install]
WantedBy=multi-user.target