[submodule "usr/local/nanohome/NanoHatOLED"]
	path = usr/local/nanohome/NanoHatOLED
	url = https://github.com/buesche87/NanoHatOLED.git
[submodule "usr/local/nanohome/grafana-backup-tool"]
	path = usr/local/nanohome/grafana-backup-tool
	url = https://github.com/buesche87/grafana-backup-tool.git
