##################################
# NanoHome configuration         #
##################################

# NanoHome user
linuxuser="nanohome"
linuxpass="password"
rootpath="/opt/nanohome"
backupdir="/home/nanohome/backup"
weather_location=""

# InfluxDB settings
influxdb_server="localhost"
influxdb_database="nanohome"
influxdb_admin="nanohome"
influxdb_adminpass="password"
influxdb_user="nanohome"
influxdb_userpass="password"
influxdb_system_user="mqtt_system"
influxdb_system_pass="password"


# MQTT settings
mqtt_server="localhost"
mqtt_system_user="mqtt_system"
mqtt_system_pass="password"
mqtt_grafana_user="mqtt_grafana"
mqtt_grafana_pass="password"


# sensors
cputemp=true
diskspace=true

# Grafana Settings
grafana_url="localhost:3000"
home_uid="XieEaLmRk"
devmgr_uid="Uhzl9yRgk"
zsp_uid="_H3fwdmRz"
settings_uid="sYOGRUiRz"

# Device users
mosquitto_shelly_user="mqtt_shelly"
mosquitto_shelly_pass="password"

# MQTT Dash user
mosquitto_dash_user="mqtt_dash"
mosquitto_dash_pass="password"