[Unit]
Wants=mosquitto.service
Description=Multiswitch sonoff_1 [on] if shelly1pm-76DAD6 [on]

[Service]
Type=idle
ExecStart=/bin/bash /usr/local/nanohome/bin/multiswitch service shelly1pm-76DAD6 sonoff_1 on on
Restart=always

[Install]
WantedBy=multi-user.target