[Unit]
Wants=mosquitto.service
Description=Stanbykiller for shelly1pm-76DAD6

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/nanohome/bin/standbykiller service shelly1pm-76DAD6 37
Restart=always

[Install]
WantedBy=multi-user.target