/*
---------------------------------------------------------------
	Main site style
---------------------------------------------------------------
*/

:root {
	--background-color: rgba(0, 0, 0, 0.1);
	--text-color: white;
	--border-color: #4f4f4f;
	--border-radius: 2px;
	--input-height: 46px;
	--gap-size: 10px;
	--padding: 15px;
}

hr.thight {
        margin-top: 12px;
        margin-bottom: 6px;
}

/*
---------------------------------------------------------------
	Standby
---------------------------------------------------------------
*/

.detailsDiv {
	display: flex;
	flex-direction: row;
	gap: var(--gap-size);
	width: 100%;
	align-items: flex-start;
}

.detailGroup {
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--gap-size);
}

.detailLabel {
	flex: 2;
	padding-left: var(--padding);
	padding-right: var(--padding);
	width: auto;
}

.detailEntry {
	flex: 1;
	background-color: var(--background-color);
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: var(--padding);
	padding-right: var(--padding);
	width: 30%;
	height: var(--input-height);
}

.detailValue {
	flex: 2;
	height: 42px;
	width: auto;
	padding-left: var(--padding);
	padding-right: var(--padding);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

/*
---------------------------------------------------------------
	Status Panel
---------------------------------------------------------------
*/



.inputGroup {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 5px; /* Space between label and input */
}

.inputLabel {
	flex: 1; /* Label takes up space proportionally */
	height: auto;
	padding-right: 10px;
}

.inputValue {
	flex: 2; /* Input field takes up more space */
	height: var(--input-height);
	width: auto; /* Allow input field to adjust */
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

select.inputValue {
	height: var(--input-height);
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}

/*
---------------------------------------------------------------
	"Manage" Buttons
---------------------------------------------------------------
*/

button:hover, button:active {
	background-color: #A6A6A6;
}

button:disabled, button:disabled:hover {
	background-color: rgba(0,0,0,0.1);
	color: grey;
}

/*
---------------------------------------------------------------
	Global Basic Style
---------------------------------------------------------------
*/

.boldText {
	font-size: 1.2em;
	font-weight: bold;
}

.statusfalse {
	color: grey;
}

.statusgreen {
	background-color: #009700;
	border: 1px solid #009700;
}

.statusorange {
	background-color: #d77f00;
	border: 1px solid #d77f00;
}

.elementHidden {
	display: none;
}

.elementFlex {
	display: flex;
}

.elementFlex {
	display: flex;
}
