/*
===============================================================
	Main site style
===============================================================
*/

:root {
	--background-color: rgba(0, 0, 0, 0.1);
	--text-color: white;
	--border-color: #4f4f4f;
	--border-radius: 2px;
	--input-height: 46px;
	--gap-size: 10px;
	--padding: 15px;
}

hr.thight {
	margin-top: 12px;
	margin-bottom: 6px;
}

/*
===============================================================
	Standby
===============================================================
*/

.detailsDiv {
	display: flex;
	flex-direction: row;
	gap: var(--gap-size);
	width: 100%;
	align-items: flex-start;
}

.detailGroup {
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--gap-size);
}

.detailLabel {
	flex: 2;
	padding-left: var(--padding);
	padding-right: var(--padding);
	width: auto;
	font-size: 1.1em;
	font-weight: bold;
}

.detailEntry {
	flex: 1;
	background-color: var(--background-color);
	color: var(--text-color);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: var(--padding);
	padding-right: var(--padding);
	margin: 2px;
	width: 33%;
	height: var(--input-height);
}

input.detailEntry {

}

/*
===============================================================
	"Manage" Buttons
===============================================================
*/

button:hover, button:active {
	background-color: #A6A6A6;
}

button:disabled, button:disabled:hover {
	background-color: rgba(0,0,0,0.1);
	color: grey;
}

/*
===============================================================
	Global Basic Style
===============================================================
*/

.boldText {
	font-size: 1.2em;
	font-weight: bold;
}

.statustrue {
	color: white;
}

.statusfalse {
	color: grey;
}

.statusgreen {
	background-color: #009700;
	border: 1px solid #009700;
}

.statusorange {
	background-color: #d77f00;
	border: 1px solid #d77f00;
}

.elementHidden {
	display: none;
}

.elementFlex {
	display: flex;
}

.elementFlex {
	display: flex;
}
